.admin-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.admin-panel h3 {
	padding: 20px;
}

.input-box {
	width: 25vw;
	padding: 6px;
}

.input-button {
	width: 26.2vw;
	padding: 6px;
}